{% extends "layout.html" %}

{% block main %}
    <div class="container-fluid main-box">
        <h2>About</h2>
        <p>
            This workout web application is based off of /r/bodyweightfitness's
            <a href="https://www.reddit.com/r/bodyweightfitness/wiki/kb/recommended_routine">
            Recommended Routine</a>, made for and submitted to CS50 as my
            final project assignment.
        </p>

        <h4>How to Use</h4>
        <p>
            Simply select your desired training level between 1 and 5,
            where level 1 is the most beginner-friendly and
            level 5 is the most difficult and advanced.
        </p>
    </div>
{% endblock %}
