<!doctype html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <!-- My CSS -->
        <link href="/static/styles.css" rel="stylesheet">

        <!-- Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

        <!-- My JavaScript -->
        {% block head_scripts %}{% endblock %}

        <title>The Recommended Routine</title>
    </head>

    <body>
        <nav class="navbar navbar-light bg-light border">
            <a class="nav-link text-dark" href="/">The Recommended Routine</a>
            <a class="nav-link text-muted" href="/about">About</a>
        </nav>
        <main class="container p-5">
            {% block main %}{% endblock %}

            <!-- More JavaScript -->
            {% block body_scripts %}{% endblock %}
        </main>
    </body>
</html>
