{% extends "layout.html" %}

{% block head_scripts %}
<script type="text/javascript">
var instructions = {{ instructions | tojson }};
</script>
{% endblock %}

{% block main %}
    <div class="container-fluid main-box">
        <div id="instruction-box">
            <h1 id="instruction">{{ instructions[0] }}</h1>
            <p id="timer" class="text-muted"></p>
        </div>
        <div id="control-box">
            <button class="btn btn-dark" id="previous">Previous</button>
            <button class="btn btn-dark" id="next">Next</button>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
<script src="static/scripts.js" type="text/javascript"></script>
{% endblock %}
